.app-wrapper {
  display: grid;
  overflow: hidden;

  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 3px;
  min-height: 100vh;
}

.app-content {
  grid-area: content;
  background: url("https://pibig.info/uploads/posts/2022-12/1669943313_3-pibig-info-p-kosmicheskie-oboi-oboi-3.jpg")
  0/cover no-repeat;
  box-sizing: border-box;
  color: aliceblue;
  opacity: 0.8;
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
